		@charset "utf-8";
* {
    font-family: 'Saira Semi Condensed', sans-serif
}

ol,
ul {
    margin-bottom: 0!important
}

img {
    max-width: 100%
}

body {
    margin: 0
}

.clear {
    clear: both
}
td {
	padding: 10px;
	text-align: left;
}

.containerWidth {
    max-width: 1100px;
    width: 96%;
    margin: 0 auto
}

.wholeWidth {
    width: 100%;
    float: left
}

header {
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 0;
    padding-top: 0
}

nav {
    width: 100%;
    float: left;
    background: #FF98A8
		
}

nav ul {
    width: 100%;
    float: left
}

nav ul li {
    display: inline-block;
    float: left
}

nav ul li a {
    display: block;
    font-size: 15px;
    line-height: normal;
    color: #fff;
    font-weight: 400;
    text-decoration: none!important;
    text-transform: uppercase;
    padding: 15px 36px;
    margin-right: 1px;
    position: relative;
    z-index: 1
}

nav ul li a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    background: #fff;
    z-index: -1;
    transition: all 250ms ease-out
}

nav ul li a:hover:before {
    bottom: 0
}

nav input {
    display: none
}

.banner {
    width: 100%;
    float: left
}

.iconic {
    width: 100%;
    float: left;
    padding: 20px 0
}

.iconic img {
    display: none
}

.iconic ul {
    width: 100%;
    float: left
}

.iconic ul li {
    width: 25%;
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: normal;
    color: #FF98A8;
    font-weight: 700;
    padding: 6px 0 6px 70px;
    font-family: 'Bree Serif', serif
}

.iconic ul span {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    line-height: normal;
    color: #FF98A8;
    font-weight: 400
}

.iconic ul li:nth-child(1) {
    background: url(https://cldup.com/v9bPukemyk-3B82025x3B82025.png) left center no-repeat
}

.iconic ul li:nth-child(2) {
    background: url(https://cldup.com/gri0m_EB8e-3B82025x3B82025.png) left center no-repeat
}

.iconic ul li:nth-child(3) {
    background: url(https://cldup.com/lBi9Yid9Uz-3B82025x3B82025.png) left center no-repeat
}

.iconic ul li:nth-child(4) {
    background: url(https://cldup.com/0nTylcSSw6-3B82025x3B82025.png) left center no-repeat
}

. {
    background: #f4f4f4;
    border-bottom: solid 1px #e3e3e3
}

p {
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400
}

.content {
    width: 100%;
    float: left;
    text-align: center
}

footer {
    width: 100%;
    float: left;
    background: #fff
}

.mail:hover {
    text-decoration: underline
}

.footer_bottom {
    width: 100%;
    float: left;
    padding: 22px 0
}

.footer_bottom p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #333;
}

.listing_row1 {
    width: 100%;
    float: left;
    margin-top: 15px
}

.listing_row2 {
    width: 100%;
    float: left
}

.listing_row2 h4 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    background: #FF98A8;
    padding: 5px 15px;
    margin: 20px 0 0
}

.tab_content {
    width: 100%;
    float: left;
    background: #fff
}

.tab_content p {
    font-size: 17px;
    line-height: 24px;
    color: #333;
    text-align: left;
    padding: 10px
}

@media screen and (max-width:1140px) {
    nav ul li a {
        padding: 15px 29px
    }
}

@media screen and (max-width:1024px) {
    nav ul li a {
        padding: 15px 26px
    }
}

@media screen and (max-width:980px) {
    header {
        padding: 10px 0
    }
    .listing_iconic {
        background: #fff
    }
    nav ul li a {
        padding: 15px 15px
    }
    .iconic {
        padding: 10px 0
    }
    .iconic ul {
        display: none
    }
    .iconic img {
        display: block;
        margin: auto
    }
    h1,
    h2 {
        font-size: 30px
    }
    p {
        font-size: 15px
    }
}

@media screen and (max-width:800px) {
    nav {
        position: relative
    }
    nav ul li {
        width: 100%
    }
    nav ul li a {
        padding: 10px 20px;
        border-top: 1px solid #ffffff;
    }
    nav ul li a:hover {
        background: #FF98A8;
        color: #FF98A8;
    }
}

@media screen and (max-width:700px) {
    .gallery_list {
        width: 100%
    }
}

@media screen and (max-width:600px) {
    .footer_top {
        padding: 20px 0
    }
    .footer_bottom {
        padding: 18px 0
    }
    .owl-controls {
        display: none
    }
    .content_row1 {
        padding: 15px 0 25px
    }
    h1,
    h2 {
        font-size: 26px
    }
    h1:before,
    h2:before {
        margin-left: -84px;
        margin-left: -84px;
        height: 1px;
        width: 168px;
        line-height: 50px
    }
}

@media screen and (max-width:400px) {
    .stBadge {
        display: none
    }
    #gh {
        min-width: 0
    }
}

#contact.tab_content,
#payment.tab_content {
    display: none
}

#ds_div>table a {
    display: none
}

.navbar-default .navbar-nav>li>a {color: #fff;}
.col-md-6 img {
    box-shadow: 0 0 1px #111315;
    padding: 10px 20px
}

.navbar .navbar-header,
.navbar-collapse {
    float: none;
    display: inline-block;
    vertical-align: top
}

.navbar {
    border-radius: 0!important
}

@media (max-width:768px) {
    .navbar-collapse {
        display: block
    }
}

.navbar-default {
    background-color: #FF98A8!important;
    border-color: #fff;
}

@media (min-width:1200px) {
    .container {
        width: 1098px!important
    }
}

.desc {
    text-align: left
}

.desc h3 {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 28px
}

.desc h4 {
    font-size: 25px;
    margin-top: 10px;
    padding: 10px 0;
    border-bottom: 2px solid #9c9c9e;
}

.desc ul {
    padding: 12px 40px;
    font-size: 16px
}

.desc p {
   /* border-top: 1px solid #9c9c9e; */
    padding-top: 10px;
    font-size: 17px
}

.footer_bottom .nav li {
    font-family: 'Cairo', sans-serif!important;
    font-size: 17px
}

.navbar-nav {
    float: none!important
}

.footer_bottom .nav li,
.footer_bottom .nav li a {
    margin: 5px!important;
    color: #9c9c9e
}

.footer_bottom .nav>li>a {
    padding: 5px 10px!important
}

.navbar-nav {
    margin: 0!important
}

.footer_bottom h4 {
    color: #333;
    font-weight: 700;
    margin: 0
}

.footer_bottom .nav>li>a:hover {
    border-left: 2px solid #9c9c9e;
    padding-left: 5px!important
}
input[type='checkbox'] 
{ display: none; } 
.wrap-collabsible { 
	margin: 1.2rem 0; 
} 
.lbl-toggle { 
	display: block; 
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	color: #fff;
	text-align: left;
	text-transform: uppercase; 
	padding: 1rem; 
	background: #FF98A8; 
	cursor: pointer; 
	border-radius: 7px; 
	transition: all 0.25s ease-out; 
} 
.lbl-toggle:hover { 
	color: #FFF; 
} 
.lbl-toggle::before { 
	content: ' '; 
	display: inline-block; 
	border-top: 5px solid transparent; 
	border-bottom: 5px solid transparent; 
	border-left: 5px solid currentColor; 
	vertical-align: middle; 
	margin-right: .7rem; 
	transform: translateY(-2px); 
	transition: transform .2s ease-out; 
} 
.toggle:checked+.lbl-toggle::before { 
	transform: rotate(90deg) translateX(-3px); 
} 
.collapsible-content { 
	max-height: 0px; 
	overflow: hidden; 
	transition: max-height .25s ease-in-out; 
} 
.toggle:checked + .lbl-toggle + .collapsible-content { 
	max-height: none; 
} 
.toggle:checked+.lbl-toggle { 
	border-bottom-right-radius: 0; 
	border-bottom-left-radius: 0; 
} 
.collapsible-content .content-inner { 
	background: #fff; 
	border-bottom: 1px solid rgba(0, 105, 255, .45); 
	border-bottom-left-radius: 7px; 
	border-bottom-right-radius: 7px; 
	padding: .5rem 1rem; 
} 
.collapsible-content tr { 
	text-align: left; 
	padding left: 10px;
}
.collapsible-content p { 
	margin-bottom: 0; 
}

td autods_product_specific_key {
	padding-left: 25px;
}
